html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  height: 100%;
  margin: auto;
  background-color: black;
  border-color: rgba(0, 0, 0, 0);
}

td {
  background-color: lightgray;
  border-color: rgba(0, 0, 0, 0);
}

.out {
  background-color: gray;
}

input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}
